*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 70px;
    background-color: #aaa;
    border-bottom: 1px solid;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    margin: 20px auto;
    background-color: #aaa;
    border: 2px solid;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    text-align: center;
}